/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  position: relative;
  min-height: 100vh;
  font-family: Hack, monospace;
}

.list, .sortSearch {
  text-align: left;
  padding: 20px;
  border-bottom: 0.5px solid #727272;
  line-height: 150%;
}

.list p, .list a, .application_information p {
  margin-left: 20px;
}

.list form, #approved-pet, #rejected-pet {
  display: inline;
}

#approved-pet {
  font-style: italic;
  color:green;
  font-weight: bold;
}

#rejected-pet {
  font-style: italic;
  color:red;
  font-weight: bold;
}

.application_information h3, h4 {
  padding-top: 10px;
  padding-left: 10px;
}
.sortSearch {
  padding-bottom: 40px;
}

nav {
  padding: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.navLinks {
  list-style: none;
  display: flex;
  padding: 10px 10px 0px 10px
}

.navLinks li {
  margin: 10px;
}

.navLinks a {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #4281A4;
  font-weight: bold;
  position: relative;
  text-transform: uppercase; 
}

a:hover {
  text-decoration: underline;
  color: #79B4A9
}

