<div class="shelters_with_pending_applications">
  <h2>Shelters with Pending Applications</h2>
  <% @shelters_with_pending_applications.each do |shelter| %>
    <%= shelter.name %><br>
  <% end %>
</div>